services:
  dozzle:
    image: amir20/dozzle:latest
    container_name: dozzle
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - ${HOST_PORT}:8080
    environment:
      - DOZZLE_NO_ANALYTICS=true
      - DOZZLE_REMOTE_AGENT=${DOZZLE_REMOTE_AGENT}
    network_mode: bridge