services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    network_mode: bridge
    ports:
      - "${HOST_PORT}:80"
    volumes:
      - ${HOST_VOLUME_HTML}:/usr/share/nginx/html
      - ${HOST_VOLUME_ETC}:/etc/nginx/nginx.conf